<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>てすと/あくせす</title>
</head>
<body>
    <% unless @@error.empty? %>
        <p>
            <% case @@error
                when "not authenticated" then %>
                フォルダーにアクセスできません。認証を行ってください。
                <% when "authenticate error" then %>
                フォルダー名とパスワードをもう一度ご確認ください。
                <% else %>
                <%= e %>
            <% end %>
        </p>
        <% @@error = "" %>
    <% end %>
    <form action="/access_folder" method="post">
        <span>フォルダー名</span><input type="text" name="name" required><br>
        <span>パスワード</span><input type="password" name="password" required><br>
        <input type="submit" value="アクセス">
    </form>
    <a href="/">トップに戻る</a>
</body>
</html>