<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Quickshare｜フォルダーを使う</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/form_page.css">
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="/"><div id="logo">Quickshare</div></a>
        </div>
        <% unless @@error.empty? %>
            <p id="error">
                <% case @@error
                    when "not authenticated" then %>
                    フォルダーにアクセスできません。認証を行ってください。
                    <% when "authenticate error" then %>
                    フォルダー名とパスワードをもう一度ご確認ください。
                    <% else %>
                    <%= e %>
                <% end %>
            </p>
            <% @@error = "" %>
        <% end %>
        <h1 id="title">
            <span>フォルダーを</span><br>使う
        </h1>
        <form class="form" id="access_form" action="/access_folder" method="post">
            <span>フォルダー名：</span>
            <input type="text" name="name" required><br>
            <span>パスワード：</span>
            <input type="password" name="password" required><br>
            <div class="submit" id="access_submit">
                <button type="submit">フォームを送信</button>
                <div class="bdB_1"></div><div class="bdB_2"></div>
            </div>
        </form>
        
        <div id="linkToTop"><a href="/">トップに戻る</a></div>
        <div id="copyright">©&nbsp;2016&nbsp;&nbsp;Daiki&nbsp;Matsuoka</div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/quickshare.js"></script>
</body>
</html>