<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>てすと/つくる</title>
</head>
<body>
    <form action="/create_folder" method="post" enctype="multipart/form-data" multiple>
        <span>フォルダー名</span><input type="text" name="name"><br>
        <span>パスワード</span><input type="password" name="password"><br>
        <span>パスワード(確認)</span><input type="password" name="password_confirmation"><br>
        <input type="submit" value="作成">
    </form>
    
    <a href="/">トップに戻る</a>
</body>
</html>