<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Quickshare｜フォルダーを作る</title>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="form_page.css">
</head>
<body>
    <header id="header">
        <>
    </header>
    <div id="container">
        <div id="header">
            <a href="/"><div id="logo">Quickshare</div></a>
        </div>
        <% unless @@error.empty? %>
            <% @@error.each do |e| %>
                <li>
                    <% case e 
                        when "Password confirmation doesn't match Password" then %>
                        確認欄のパスワードが正しいかご確認ください。
                        <% when "Name has already been taken" then %>
                        そのファイル名は既に使用されています。別の名前にしてください。
                        <% else %>
                        <%= e %>
                    <% end %>
                </li>
            <% end %>
            <% @@error.clear %>
        <% end %>
        <h1 id="title">
            <span>フォルダーを</span><br>作る
        </h1>
        
        <div id="rules">
            <ul>
                <li>既に存在するフォルダー名は使用できません。</li>
                <li>パスワードは6文字以上18文字以下で、英数字のみを使用してください。</li>
                <li>有効期間は最大で一週間です。</li>
            </ul>
        </div>
        
        <form class="form" id="create_form" action="/create_folder" method="post">
            <span>フォルダー名：</span>
            <input type="text" name="name" required><br>
            <span>パスワード：</span>
            <input type="password" name="password" pattern="[a-zA-Z0-9]{1,18}" required><br>
            <span>パスワード(確認)：</span>
            <input type="password" name="password_confirmation" required><br>
            <span>有効期間：</span>
            <input type="date" name="date" min="<%= @today.to_s %>" max="<%= @expire_limit.to_s %>" required><br>
            <div class="submit" id="access_submit">
                <button type="submit">フォームを送信</button>
                <div class="bdB_1"></div><div class="bdB_2"></div>
            </div>
        </form>
        
        <div id="linkToTop"><a href="/">トップに戻る</a></div>
        <div id="copyright">©&nbsp;2016&nbsp;&nbsp;Daiki&nbsp;Matsuoka</div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/quickshare.js"></script>
</body>
</html>