<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>てすと/つくる</title>
    <link rek="stylesheet" href="reset.css">
    <link rel="stylesheet" href="quickshare.css">
</head>
<body>
    <header id="header">
        <div id="logo"><a href="/"></a><img src="/logo.png" alt="QuickShare"></div>
        <menu>
            <ul>
                <li id="current" class="menu1 menu_content"><a href="/how_to"><span>使い方</span></a></li>
                <li class="barBetween"></li>
                <li class="menu2 menu_content"><a href="/create"><span>作成</span></a></li>
                <li class="barBetween"></li>
                <li class="menu3 menu_content"><a href="/access"><span>アクセス</span></a></li>
                <div id="bar"></div>
            </ul>
        </menu>
    </header>
    <div id="container">
        
        <div id="linkToTop"><a href="/">トップに戻る</a></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/quickshare.js"></script>
</body>
</html>