<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>てすと</title>
</head>
<body>
    テストダヨ！
    <ul>
        <li><a href="/create">フォルダーの作成</a></li>
        <li><a href="/access">フォルダーへのアクセス</a></li>
    </ul>
</body>
</html>