<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>Quickshare</title>
    <link rel="stylesheet" href="/top_page.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="phrase">アカウント不要のファイル共有サービス</div>
        <div id="logo">Quickshare</div>
        <div id="topLink">
            <a href="/create" id="linkToCreate">
                <span class="top_mod">フォルダーを<span><br>
                <span class="top_main">作る</span>
                <div class="bd">
                    <div class="bdT_a"></div>
                    <div class="bdB_a"></div>
                </div>
            </a>
            <a href="/access" id="linkToAccess">
                <span class="top_mod">フォルダーを<span><br>
                <span class="top_main">使う</span>
                <div class="bd">
                    <div class="bdT_b"></div>
                    <div class="bdB_b"></div>
                </div>
            </a>
        </div>
        <div id="how_to">
            <a href="/how_to">使い方<div class="bdB_1"></div><div class="bdB_2"></div></a>
        </div>
        <hr id="hr">
        <div id="copyright">©&nbsp;2016&nbsp;&nbsp;Daiki&nbsp;Matsuoka</div>
    </div>
    <script src="/quickshare.js"></script>
</body>
</html>