<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>てすと/あどみん</title>
    <link rel="stylesheet" href="quickshare.css">
</head>
<body>
    管理するんじゃー
    <a href="/clean_up">clean up</a>
</body>
</html>