<html>
<head>
    <meta charset="UTF-8"></meta>
    <title>てすと/あどみん</title>
    <link rel="stylesheet" href="quickshare.css">
</head>
<body>
    ういー
    <form action="/master" method="post">
        <input type="password" name="password" required>
        <input type="submit" value="sign in">
    </form>
</body>
</html>