@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{font-family: "Noto Sans Japanese", sans-serif;}
html,body{height: 100%;margin: 0;}

#topPageHeader{
    background-color: dodgerblue;
    width: 100%;
    height: 100px;
    padding-top: 20px;
}

#topPageContainer{
    width: 100%;
    min-height: 100%;
    background-color: mintcream;
    margin: 0;
    padding-top: 60px;
    text-align: center;
}
#topPageHeader #logo{
    width: 300px;
    height: 83px;
    position: absolute;
    top: 27.5px;
    left: calc(50% - 150px);
}
#topPageHeader #logo img{width: 100%;}



.catch:last-of-type{margin-top: 80px;}
.topLink{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
    color: #222;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.linkbox{
    width: 200px;
    height: 100px;
    position: relative;
    transition: all 0.3s ease;
    margin: 30px auto;
}

.linkBox a{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding-top: 35.5px;
}
.bd div{
    background-color: #666;
    position:absolute;
    transition:all 0.3s ease;
}
.bd .bdT{width: 100%; height:2px; top:0; left:0;}
.bd .bdB{width: 100%; height:2px; bottom:0; right:0;}
.bd .bdR{height:100%; width :2px; right:0; top:0;}
.bd .bdL{height:100%; width :2px; left:0; bottom:0;}
.linkBox:hover .bdT{transform: translate(-10px,-10px); width: 220px;}
.linkBox:hover .bdB{transform: translate(10px,10px); width: 220px;}
.linkBox:hover .bdR{transform: translate(10px,-10px); height: 120px;}
.linkBox:hover .bdL{transform: translate(-10px,10px); height: 120px;}
.linkBox:hover{
    background-color: #C2FEE0;
}

/*others*/
#header{
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: dodgerblue;
}

#header #logo{
    width: 250px;
    top:32.5px;
    left:20px;
    position: absolute;
}

#header #logo img{width: 100%;}
#header #logo a{
    width: 100%;
    height: 64px;
    position: absolute;
}
#logo a:hover{background-color: rgba(255,255,255,0.4);}



#container{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 120px;
    background-color: mintcream;
}

.form{
    background-color: #E4FFF2;
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border: solid 1px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 25px 30px 45px 30px;
    margin-top: 20px;
    margin-left: 50px;
}
#create_form{
    height: 200px;
}
#access_form{
    height: 130px;
}

.form div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 95%;
}

.formPart input{
    width: 200px;
    height: 30px;
    background-color: mintcream;
    border: solid 1px #666;
    font-size: 15px;
    padding: 0 3px;
    font-family:  "Noto Sans Japanese", sans-serif !important;
}

.form .submit{
    position: relative;
    margin-top: 10px;
}

.form .submit button{
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    cursor: pointer;
    border: solid 1px #eee;
    font-size: 20px;
}
#create_submit button{
    background-color: yellowgreen;
    width: 64px;
}
#access_submit button{
    background-color: lightsalmon;
    width: 100px;
}


#description{
    margin-top: 20px;
    margin-left: 30px;
    padding: 5px 10px;
    width: 800px;
}

#title{
    position: relative;
}
#title .accessTitle{
    width: 320px !important;
}
#title p{
    position: absolute;
    display: inline-block;
    font-size: 30px;
    line-height: 0;
    top: 0;
    left: 20px;
}

#title span{
    position: absolute;
    display: inline-block;
    top: 10px;
    width: 10px;
    height: 40px;
}
#title .decoAccess{background-color: lightsalmon;}
#title .decoCreate{background-color: yellowgreen;}
#title span:first-of-type{
    left: 0;
}
#title .decoAccess:last-of-type{
    right: 370px;
}
#title .decoCreate:last-of-type{
    right: 457.5px;
}


#rules{
    margin-top: 70px;
}

#linkToTop{
    margin-top: 25px;
    margin-left: 70px;
}

#linkToTop a{
    font-size: 17.5px;
    text-decoration: none;
    color: #666;
}

#linkToTop a:hover{
    text-decoration: underline;
    color: #333;
}
#copyright{
    width: 100%;
    text-align: center;
    color: #aaa;
    margin-top: 120px;
}

/*menu*/
menu{
    position: absolute;
    top: 10px;
    left: 200px;
}
menu ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 516px;
}
menu ul li{
    display: inline-block;
    width: 120px;
    text-align: center;
}
.barBetween{
    display: inline-block;
    width: 2px;
    height: 30px;
    margin-top: 7.5px;
    background-color: #aeaeae;
}
menu ul li a{
    text-decoration: none;
    color: #eee;
    width: 100%;
}
menu ul li a span{
    font-size: 30px;
}
#bar{
    display: block;
    width: 120px;
    height: 2px;
    background-color: #eee;
    position: absolute;
    top: 65px;
    left: 0;
}

/*folders*/
#directory{
    display: block;
    position: relative;
    width: 700px;
    margin-left: 75px;
}

#directoryProperty{
    margin-top: 40px;
    border-bottom: solid 1px #999;
    position: relative;
    height: 50px;
}

#folderImg{
    top: 2px;
    left: 5px;
    width: 40px;
    position: absolute;
}

#breadCrumbs{
    position: absolute;
    left: 55px;
    font-size: 30px;
}
#breadCrumbs a{
    display: inline-block;
    color: #333;
    text-decoration: none;
    height: 40px;
    max-width: 175px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: content-box;
    padding: 0 2px 4px;
}

#breadCrumbs a:hover{
    background-color: rgba(0,0,0,0.2);
}

#breadCrumbs span{
    display: inline-block;
    color: #333;
    position: relative;
    top: -7px;
}

#folderImg img{
    width: 100%;
}
#download{
    position: absolute;
    top: 7px;
    right: 100px;
}

#download img, #setting img, #uploadFileButton img{
    position: absolute;
    width: 35px;
    top: 2.5px;
    left: 2px;
}
.hover,.hover2{
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    border: none;
    background-color: rgba(255,255,255,0);
}
.hover{width: 45px; height: 45px;}
.hover2{width: 45px; height: 45px;}

.hover:focus{
    outline: none;
}
.hover:hover,.hover2:hover{
    background-color: rgba(0,0,0,0.2);
}

#setting{
    position: absolute;
    top: 7px;
    right: 50px;
}
.dirFormButton{
    left: 36px !important;
}

.addButton{
    display: inline-block;
    position: relative;
    margin: 10px 5px 10px;
    width: 35px;
    height: 35px;
}

.addButton img{
    top: 2.5px;
    left: 2.5px;
    position: absolute;
    width: 100%;
    height: 100%;
}

#droppable{
    min-height: 196px;
    position: relative;
    margin-top: 10px;
    padding: 0;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}
.dirEmpty{
    position: absolute;
    top: -10px;
    left: 10px;
}
.content{
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0;
    cursor: pointer;
    table-layout: fixed;
}
.content:hover{
    background-color: rgba(0,0,0,0.1);
}
.folder_hover{
    background-color: rgba(0,0,0,0.3);
}
.content td{
    position: absolute;
    top: 12px;
    user-select: none; 
-moz-user-select: none;
-webkit-user-select: none; 
-ms-user-select: none; 
}
.content .icon{
    width: 30px;
    height: 30px;
    top: 9.5px;
    left: 10px;
}
.content .icon img{width: 100%; height: 100%;}
.content .name{
    width: 200px;
    left: 50px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.content .name a{
    text-decoration: none;
    color: #000;
}
.content .name a:hover{
    text-decoration: underline;
}
.content .type{
    left: 300px;
}
.content .size{
    left: 400px;
}
.content .created_at{
    left: 500px;
    width: 200px;
}


td.menu span{
    display: none;
}

.buttons{
    position: absolute;
    display: block;
    width: 100px;
    background-color: #fefefe;
    z-index: 9999;
    border: solid 1px #eee;
    padding: 0;
}
.buttons li{
    position: relative;
    width: 100%;
    list-style: none;
}
.buttons li form{
    margin: 0;
}
.buttons li form button{
    display: block;
    font-family: "Noto Sans Japanese", sans-serif;
    width: 100%;
    height: 40px;
    background: none;
    border-style: none;
}
.buttons button:focus{
    outline: none;
}
.buttons button:hover{
    background-color: rgba(0,0,0,0.1);
}
.buttons button:first-of-type{
    border-bottom: 1px solid #eee;
}






/*window*/
#pageCover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    height: 100%;
}

.window{
    display: none;
    position: absolute;
    border: solid 2px #666;
    z-index: 9999;
    text-align: center;
    width: 400px;
    height: 180px;
    background-color: honeydew;
    border: solid 1px #ccc;
}

.addFolderInput{
    width: 200px;
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
    border: 1px solid #aaa;
    padding-left: 3px;
    font-size: 17.5px;
}
.addFileInput{
    position: absolute;
    width: 300px;
    left: 75px;
    top: 70px;
    font-size: 15px;
}

.window .submit{
    margin-top: 30px;
    border: none;
    background-color: skyblue;
    height: 30px;
    width: 64px;
    cursor: pointer;
}
#addFileWindow .submit{
    margin-top: 60px;
}

.window p{
    font-size: 20px;
}


.errors{
    margin-left: 20px;
    color: red;
}




/*load*/
.loading{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.3);
}
.loading::after{
  content:"";
  display:block;
  position:absolute;
  left:334px;
  top:82px;
  width:32px;
  height:32px;
  border-radius:20px;
  margin-top:-10px;
  margin-left:-10px;
  border:4px solid #fefefe;
  border-right:4px solid rgba(0,0,0,0);
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
.hide{
    display: none;
}